*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: Lato, sans-serif;
    color: var(--white);

    --teal: #0ad6b8;
    --teal-dark: #08aa92;
    --white: #f4f4f4;
    --gray: #d4d4d4;
    --gray-csv: 212, 212, 212;
    --bg-green: #152010;
    --bg-blue: #041424;
    --bg-dark: #1f1f1f;
}

.container {
    min-width: 100%;
    padding:0
}

.navbar{
    background: transparent
}
.navbar-collapse{
    position: absolute;
    right: 0;
    top:0;
    z-index: 1;
}
.navbar-collapse.show, .navbar-collapse.collapsing { 
    top:100%;
    background-color: rgb(var(--gray-csv), 0.5);
    border-bottom-left-radius: 100%;
}

.nav-link {
    text-align: right;
    font-size: smaller;
}
.nav-link:hover {
    color: var(--gray) !important;
}
.nav-link.text-light:hover {
    color: var(--bg-dark) !important;
}

section{
    min-height: 100vh;
    width: 100%;
    padding: 2rem;
    text-align: center;
}

#intro{
    position: relative;
    /** Lake Clark, AK (src: https://www.expeditionsalaska.com) */
    background: url("../Images/lake-clark-bg.jpg");
    background-size: cover;
    background-position: left;
}
#intro > h1 {
    position: absolute;
    top: 47%;
    left: 25%;
    font-size: 2rem;
}
#intro > h2 {
    position: absolute;
    top: 58%;
    left: 28%;
    font-size: 1.25rem;
}

#story {
    background: radial-gradient(var(--bg-green), black);
}
#story img {
    width: 50%;
}
#story p {
    font-size: .75rem;
}

#portfolio{
    background: radial-gradient(var(--bg-blue), black);
}

#contact{
    background: radial-gradient(var(--bg-dark), black);
}

textarea {
    resize: none;
}
::placeholder {
    color: #ccc !important;  
}

.btn-teal {
    border: 3px solid var(--teal);
    background-color: var(--teal);
}
.btn-teal:hover {
    background-color: var(--teal-dark)
}