* {
    font-family: Lato;
}

body {
    background: radial-gradient(hsl(200, 100%, 75%), hsl(200, 100%, 25%)) fixed center;
}

nav {
    background-color: rgba(50, 50, 50, 0.6) ;
}
.navbar.transparent {
    background: none;
}

.link {
    font-size: smaller;
    font-weight: bold;
    color: white;
}
.link:hover {
    font-size: normal;
    color: black;
}

.about-me-img {
    border-radius: 15px 15px 0 0;
    max-width: 45rem;
}

.about-me-text {
    font-size: smaller;
}

.about-me-container, .portfolio-container, .contact-container {
    background-color: rgba(50, 50, 50, 0.75);
    border-radius: 15px;
    max-width: 45em;
}

textarea {
    resize: none;
}

::placeholder {
    color: #ccc !important;  
}

.btn-teal {
    border: 3px solid hsl(171, 91%, 44%);
    background-color: hsl(171, 91%, 44%);
}
.btn-teal:hover {
    background-color: hsl(171, 91%, 35%);
}

@media only screen and (min-width: 992px) {
    strong {
        font-size: x-large;
    }
    .about-me-text {
        font-size: medium;
    }
    .portfolio-container {
        max-width: 75rem;
    }
}