body {
    background: url(../Images/bg_mountains_2.jpg) 0px 40px repeat-x fixed;
    background-size: auto;
}

nav {
    background-color: rgb(50,50,50);
    width: 100%;
}

img {
    border-style: outset; max-width: 100%;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}